<body>
    <button id="refresh" type="button" (click)="onRefresh()">Refresh</button>
<h1>Statistics</h1>
  <div id="wrapper">
    <table>
      <thead>
        <tr>
          <th># of Players</th>
          <th># of hits</th>
          <th># of misses</th>
          <th>Total Turns</th>
          <th>Time</th>
          <th>Winner</th>
          <th>Player Types</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>row1</td>
          <td>row1</td>
          <td>row1</td>
          <td>row1</td>
          <td>row1</td>
          <td>row1</td>
          <td>row1</td>
        </tr>
        <tr>
          <td>row2</td>
          <td>row2</td>
          <td>row2</td>
          <td>row2</td>
          <td>row2</td>
          <td>row2</td>
          <td>row2</td>
        </tr>
        <tr>
          <td>row3</td>
          <td>row3</td>
          <td>row3</td>
          <td>row3</td>
          <td>row3</td>
          <td>row3</td>
          <td>row3</td>
        </tr>
        <tr>
          <td>row4</td>
          <td>row4</td>
          <td>row4</td>
          <td>row4</td>
          <td>row4</td>
          <td>row4</td>
          <td>row4</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
