<mat-card>
   <h2>Game Controls</h2> 
   <div class="row">
      <button mat-button  id="move" (click)="onMovedPressed()">Move ship</button>
   </div>


<p id="message">{{message}}</p>

<div class="row">
    <button id="forward" mat-button (click)="onForwardPressed()" style="visibility: hidden;">Move forward</button>
 </div>
 <div class="row">
    <button id="backward" mat-button (click)="onBackwardPressed()" style="visibility: hidden;">Move backward</button>
 </div>

 <p style="text-align: left">Your ships</p>
    <mat-card style="width: 30px; height: 30px; border-radius: 8px; background-color: red"></mat-card>
    <p style="text-align: left">Missed Locations</p>
    <mat-card style="width: 30px; height: 30px; border-radius: 8px; background-color: yellow"></mat-card>
    <p style="text-align: left">Hit Locations</p>
    <mat-card style="width: 30px; height: 30px; border-radius: 8px; background-color: black"></mat-card>
    <p style="text-align: left">Sunk Ships</p>
    <mat-card style="width: 30px; height: 30px; border-radius: 8px; background-color: purple"></mat-card>

</mat-card>

