<div class="row" style="height: 100%;">
  <div class="col-lg-2">
    <app-game-controls></app-game-controls>
  </div>

  <div style="background-color: rgba(255, 0, 0, 0.171)" class="col-lg-4">
    <app-grid #userGrid [prefix]="'user_'" [numcols]="'10'" (cellClicked)="onCellClicked($event)"></app-grid>
  </div>
  <div style="background-color: rgba(0, 0, 255, 0.082)" class="col-lg-4">
      <app-grid  [prefix]="'enemy_'" [numcols]="'10'"(cellClicked)="onCellClicked($event)"></app-grid>
  </div>
</div>
