div.userGrid {
    background: #999;
    float: left;
    height: 100%;
    width: auto;
  }
  
  div.enemyGrid {
    background: #666;
    height: 100%;
  }

  div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 0pt;
    margin-top: -1px;
  }