<mat-card>
  <h1 class="mat-h1">Main Menu</h1>
  <div class="container">
    <div class="option-btns-box">
      <button type="button" (click)="newGameClicked();">New Game</button>
      <button type="button" (click)="settingsClicked();">Settings</button>
      <button type="button" (click)="statisticsClicked();">Statistics</button>
      <button type="button" (click)="createStrategyClicked();">Create a Strategy</button>
      <button type="button" (click)="aboutClicked();">About</button>
    </div>
    <!-- <div class="lower-boxes">
      <div class="right-box"> This box can be filled with other things
      </div>
      <div class="login-box">
          <h4>Login to save your results!</h4>
          <button class="login" type="button" onclick="alert('Login')">Login</button>
          <button class="register" type="button" onclick="alert('Register')">Register</button>
      </div> 
    </div> -->
  </div>
</mat-card>
