.container{
    margin: auto;
    width: 80%;
    height: 50%;
    min-height: 1000px;
}
.option-btns-box {
    margin: 2%;
/*    border-style: solid;  for checking div dimensions*/
    margin-bottom: 2%;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

}

/* Setting option button properites */
.option-btns-box button {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

    display: block;
    width: 75%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    margin-top: 6%;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.option-btns-box button:hover {
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.darkMode {
    background-color: rgb(34, 34, 34);
    color: white;
  }

  .darkMode button {
      background-color: rgb(70,70,70);
      color:black;
  }

/* see html file
.lower-boxes {
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
    border-style: solid;
    width: 100%;
    height: 225px;
}

.right-box{
    border-style: none;

    float:left;
    width: 70%;
}

.login-box{
    text-align: center;

    float:right;
    width: 25%;
    height: 100%;
    border-style: solid;

    min-width: 250px;
}

.login-box button {
    width: 35%;
}
.login-box button.login { float: left; margin-left:8px; }
.login-box button.register { float: right; margin-right:8px; }
*/