<div class="row">
  <div class="col-lg-5">
      <div class="container">
          <h1>Create new game</h1>
          <form>
            <div class="form-group">
              <label for="name">Screen Name</label>
              <input type="text" class="form-control" id="screenName" required>
            </div>
       
            <div class="form-group">
              <label for="alterEgo">Victory Message</label>
              <input type="text" class="form-control" id="message">
            </div>
       
            <button type="submit" class="btn btn-success" disabled>Begin Game</button>
          </form>

          <div class="prompt">
            <h4> {{message}} </h4>
          </div>
      </div>
  </div>
  <div class="col-lg-5">
    <app-grid [numcols]="10" (cellClicked)="onCellClicked($event)"></app-grid>
  </div>
</div>
