<div class="row">
  <div class="col-lg-5">
      <div class="container">
          <h1>Create new game</h1>
          <form>
            <div class="form-group">
              <label for="username">User Name</label>
              <input type="text" class="form-control" id="userName" [(ngModel)]="username" name="username" required>
            </div>
       
            <div class="form-group">
              <label for="victoryMessage">Victory Message</label>
              <input type="text" class="form-control" id="message" [(ngModel)]="victoryMessage" name="victoryMessage">
            </div>
       
            <button id="submit" type="submit" class="btn btn-success" (click)="onSubmit()" disabled>Begin Game</button>
          </form>

          <div class="prompt">
            <h4> {{message}} </h4>
          </div>
      </div>
  </div>
  <div class="col-lg-5">
    <app-grid [numcols]="10" (cellClicked)="onCellClicked($event)"></app-grid>
  </div>
</div>
